body {
    background-color: black;
    font-size: 14px;
}

h1, h2 {
    color: bisque;
}

h1 {
    font-size: 21px;
}

h2 {
    font-size: 16px;
}

p {
    color: whitesmoke;
    font-size: 14px;
}

header {
    background-image: url("/assets/nastro-header.png");
    /* background-size: contain; */
    background-size: cover;
    resize: both;
    background-repeat: no-repeat;
    /* background-color: red; */
    color: white;
    font-size: 20px;
    font-style: bold;
}

a {
    color: whitesmoke;
    font-size: 12px;
    font-style: bold;
}