<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{.Title}}|Il Soffio di Torsicore</title>
        <meta name="description" content="Orchestra con artisti famosi">
        <base href="{{ .Site.BaseURL }}">
        <link rel="stylesheet" href="{{ "css/style.css" | relURL}}">
    </head>
    <body>
        {{ partial "header" . }}
        {{ block "main" . }}
        {{end}}
    </body>
</html>