<header>
    <nav>
        <ul>
            <li><a href="#">Lo Spettacolo</a></li>
            <li><a href="#">Artisti</a></li>
            <li><a href="#">Date</a></li>
            <li><a href="#">Biglietti</a></li>
            <li><a href="#">Newsletter</a></li>
            <li><a href="#">Contatti</a></li>
        </ul>
    </nav>
</header>